@import '../../../../../_variables.scss';

.create-event-form {
  width: 400px;

  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.member-checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;

  .member-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 3px;

    input {
      display: none;

      &:checked + .custom-checkbox {
        background-color: var(--member-color);
      }
    }

    .custom-checkbox {
      background: transparent;
      display: block;
      width: 20px;
      aspect-ratio: 1;
      border: solid 2px var(--member-color);
      position: relative;
      transition: $transition;

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: white;
        clip-path: polygon(
          28% 38%,
          41% 53%,
          75% 24%,
          86% 38%,
          40% 78%,
          15% 50%
        );
      }
    }
  }
}
