@use '../../../../../_variables.scss' as *;

.create-event-form {
  width: 400px;

  @media screen and (max-width: 450px) {
    width: 100%;
  }

  .attendee-selector {
    padding: 0;
    width: 100%;

    .attendee-checkbox-group {
      flex-direction: row;
    }
  }
}
