@import '../../../_variables.scss';

.member-selector {
  height: 100%;
  width: 200px;
  padding-top: calc(
    $headerHeight + (var(--text-xs) * var(--text-xs--line-height)) +
      (var(--spacing) * 2)
  );
  padding-inline: 20px;

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .member-checkbox-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px 15px;

    .member-checkbox {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 5px;

      input {
        display: none;

        &:checked + .custom-checkbox {
          background-color: var(--member-color);
        }
      }

      .custom-checkbox {
        background: transparent;
        display: block;
        width: 20px;
        aspect-ratio: 1;
        border: solid 2px var(--member-color);
        position: relative;
        transition: $transition;

        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-color: white;
          clip-path: polygon(
            28% 38%,
            41% 53%,
            75% 24%,
            86% 38%,
            40% 78%,
            15% 50%
          );
        }
      }
    }
  }
}
