.month-view-container {
  flex-grow: 1;

  .calendar-day {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .calendar-day-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .day-number {
      line-height: 1;
    }
  }

  .events {
    flex-grow: 1;

    .event {
      width: 100%;
      text-align: left;
      cursor: pointer;
      border: none;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
