$beige: #f4f1de;
$orange: #e07a5f;
$blue: #3d405b;
$green: #81b29a;
$yellow: #f2cc8f;

$green-dark: #629e81;

$transition-duration: 0.2s;
$transition-ease: ease-in-out;
$transition: $transition-duration all $transition-ease;

$headerHeight: 60px;
